/* .navbar {
  background: #242424;
  padding: 10px 20px;
  transition: padding 1s ease;
}
.navbar-background {
  padding: 2px 20px;
}
.navbar-brand {
  
  color: #f1fffa;
  border: 3px solid #f1fffa;
  font-size: 30px;
  transition: all 1s ease;
}
.navbar-brand:hover {
  background: #cc7108;
  
  color: #242424;
  border: 3px solid #8a9b8c;
}
.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #8a9b8c;
  transition: all 0.5s ease;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}
.nav-link {
  color: #f1f1f1;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 1s ease;
}
.nav-link:hover {
  background: rgb(94, 159, 245);
  color: rgb(241, 255, 250);
}
.nav-active {
  color: #f1fffa;
  font-size: 25px;
  padding: 10px 20px !important;
  background: rgba(94, 159, 245, 0.6);
}
.search-btn {
  background: #8a9b8c;
  transition: all 1s ease;
}
.search-btn:hover {
  background: #cc7108;
}
.navbar-toggler {
  border: 3px solid #8a9b8c;
  padding: 3px;
}
.nav-link {
  
  color: #f1f1f1;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 1s ease;
}
.nav-link:hover {
  
  background: rgb(94, 159, 245);
  color: rgb(241, 255, 250);
}
.nav-active {
  color: #f1fffa;
  font-size: 25px;
  padding: 10px 20px !important;
  
  background: rgba(94, 159, 245, 0.6);
} */

/* #endregion   */

/* #region  Intro cover */
/* #intro-cover {
  background-image: linear-gradient(-120deg, #555657 0%, #c4eaf3 100%);
  background: url(../images/banner-3.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#intro-cover {
  background-image: url(../images/banner-3.jpeg);
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

#intro-cover h1 {
  color: black;
  font-size: 100px;
}
.gradient-text {
  background-color: #f1d3a6;
  background-image: linear-gradient(45deg, #755745, #30089e);
  background-size: 120%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.gradient-text2 {
  background-color: #faf67f;
  background-image: linear-gradient(45deg, #0a2a81, #d30808);
  background-size: 120%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.mask-white {
  background-color: rgba(187, 184, 184, 0.808);
  box-shadow: 5px solid #909090;
}

.js-highlight {
  background-color: #f7e018;
  font-weight: 700;
  padding: 0.2rem 1rem;
}

#intro-cover p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.35rem;
}

@media only screen and (max-width: 321px) {
  #intro-cover h1 {
    line-height: 3.5rem;
  }

  #intro-cover p {
    font-size: 1rem;
  }
} */
/* #endregion */


.calculator {
  padding: 4px;
  margin: 4px;
  background-color: #3a4655;
  width: 100%;
  height: auto;
  /* Box shadow for different browsers */
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.75);
}

.form-control {
  border: 0px solid transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

input[type='text']:disabled {
  background-color: white;
  text-align: right;
  padding: 8px;
}

.design {
  text-align: center;
  border-radius: 4px;
  width: 100%;
  height: auto;
  color: white;
  padding: 4px;
  margin: 4px;
  background-color: #2a2e4b;
}
