body {
  background: linear-gradient(to top, #b6b5b4 0%, #e2ebf0 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

/*############# navbar  ################*/
/* #region  nav bar */
.navbar {
  background: #242424;
  padding: 10px 20px;
  transition: padding 1s ease;
}
.navbar-background {
  padding: 2px 20px;
}
.navbar-brand {
  /* color: #2a9134; */
  color: #f1fffa;
  border: 3px solid #f1fffa;
  font-size: 30px;
  transition: all 1s ease;
}
.navbar-brand:hover {
  background: #cc7108;
  /* color: #f1fffa; */
  color: #242424;
  border: 3px solid #8a9b8c;
}
.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #8a9b8c;
  transition: all 0.5s ease;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}
.nav-link {
  color: #f1f1f1;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 1s ease;
}
.nav-link:hover {
  background: rgb(94, 159, 245);
  color: rgb(241, 255, 250);
}
.nav-active {
  color: #f1fffa;
  font-size: 25px;
  padding: 10px 20px !important;
  background: rgba(94, 159, 245, 0.6);
}
.search-btn {
  background: #8a9b8c;
  transition: all 1s ease;
}
.search-btn:hover {
  background: #cc7108;
}
.navbar-toggler {
  border: 3px solid #8a9b8c;
  padding: 3px;
}
.nav-link {
  /* color:#5e9ff5; */
  color: #f1f1f1;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 1s ease;
}
.nav-link:hover {
  /* background: #8a9b8c; */
  background: rgb(94, 159, 245);
  color: rgb(241, 255, 250);
}
.nav-active {
  color: #f1fffa;
  font-size: 25px;
  padding: 10px 20px !important;
  /* background: rgba(241, 255, 250, 0.6); */
  background: rgba(94, 159, 245, 0.6);
}

/* #endregion   */

.calculator {
  margin-left: 25px;
  position: relative;
  padding: 1em 0; /*mss rem???*/
  width: 350px;
  background-color: rgba(41, 41, 41, 0.36);
  box-shadow: 8px 11px 32px -3px #111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex {
  display: flex;
}
.flex-horizontal-center {
  justify-content: center;
}
.calc-row {
  text-align: center;
}
.calc-row div.screen {
  height: 70px;
  font-family: Droid Sans 'Courier New', Courier, monospace;
  display: table;
  width: 85%;
  text-align: right;
  font-size: 2em;
  min-height: 1.2em;
  margin-left: 25px;
  padding-left: 0.5em;
  border: 1px solid rgb(77, 76, 76);
  color: #292929;
  background-color: rgb(196, 222, 245);
}

.calc-row div {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #555;
  background-color: rgb(4, 70, 114);
  color: beige;
  font-weight: bold;
  padding: 10px 0;
  margin: 7px 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 1px 1px #222;
  width: 50px;
}
.calc-row div.zero {
  width: 112px;
}
.calc-row div.zero {
  margin-right: 5px;
}
