body {
  background: linear-gradient(to top, #b6b5b4 0%, #e2ebf0 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar {
  background: #242424;
  padding: 10px 20px;
  transition: padding 1s ease;
}
.navbar-background {
  padding: 2px 20px;
}
.navbar-brand {
  color: #f1fffa;
  border: 3px solid #f1fffa;
  font-size: 30px;
  transition: all 1s ease;
}
.navbar-brand:hover {
  background: #cc7108;
  color: #242424;
  border: 3px solid #8a9b8c;
}
.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #8a9b8c;
  transition: all 0.5s ease;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}
.nav-link {
  color: #f1f1f1;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 1s ease;
}
.nav-link:hover {
  background: rgb(94, 159, 245);
  color: rgb(241, 255, 250);
}
.nav-active {
  color: #f1fffa;
  font-size: 25px;
  padding: 10px 20px !important;
  background: rgba(62, 59, 104, 0.6);
}
.search-btn {
  background: #8a9b8c;
  transition: all 1s ease;
}
.search-btn:hover {
  background: #cc7108;
}
.navbar-toggler {
  border: 3px solid #8a9b8c;
  padding: 3px;
}
.nav-link {
  color: #f1f1f1;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 1s ease;
}
.nav-link:hover {
  background: rgb(94, 159, 245);
  color: rgb(241, 255, 250);
}
.nav-active {
  color: #f1fffa;
  font-size: 25px;
  padding: 10px 20px !important;
  background: rgba(94, 159, 245, 0.6);
}

#window {
  min-height: 60vh;
  margin-top: 5rem;
}

.flex {
  display: flex;
}
.flex-horizontal-center {
  justify-content: center;
}

.display {
  background-color: rgba(65, 131, 139, 0.36);
  padding: 15px 30px 0 15px;
  width: 350px;
  text-align: right;
  font-size: 20px;
  border-radius: 10px;
}
button {
  padding: 10px;
  width: 67px;
  height: 45px;
  margin-top: 10px;
  background-color: rgb(194, 194, 194);
  color: black;
  font-size: 20px;
}

#r1-1 {
  width: 138px;
}
#r5-1 {
  width: 138px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(182, 178, 178);
}
button:active {
  background-color: rgb(136, 136, 136);
}
